body{
    width: 100v;
    margin: 0;
    padding: 0;
}
#head{
    color: rgb(76, 76, 75);
    font-size: 50px;
}
.head{
    color: blue;

}
.head:hover{
    color: brown;
    cursor: pointer;
    font-size: 70px;
    transform: scale(1.05);
}

button{
    font-size: 30px;
    padding: 30px;
    margin: 60px;
}

button:hover{
    background: black;
    color: white;
    border-radius: 20px;
}
