:root {
  --primary-color: #919191;
  --secondary-color: #f1f1f0;
  --white-color: #ffffff;
  --text-color: #212529;
  --red-color: #e74c3c;
  --blue-color: #0077b6;
  --green-color: #00b621;
  --gold-color: #ff9800;
  --wood-color-dark: #1b0e10;






  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-xxl: 24px;
}
