:root {
  --primary-color: #919191;
  --secondary-color: #f1f1f0;
  --background-color: #f1f1f0;
  --text-color: #212529;
  --accent-color: #e74c3c;
  --wood-color-dark: #1b0e10;





  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-xxl: 24px;
}
