@use "./../styles/variable" as *;

$mobile: 425px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;
$monitor: 2560px;

.footer {
  background: var(--secondary-color);
  color: var(--text-color);
  padding: 20px 0;
  margin-top: 20px;
  text-align: center;
  font-family: 'Segoe UI', Arial, sans-serif;
  border-top: 1px solid var(--text-color);
  letter-spacing: 0.01em;
}

.footer__container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 16px;
}

.footer__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.footer__founder {
  font-size: var(--font-size-lg);
  font-weight: 700;
  color: var(--text-color);
}

.footer__location {
  font-size: var(--font-size-md);
  color: var(--text-color);
}

.footer__contact {
  font-size: var(--font-size-md);
  display: flex;
  flex-direction: column;
}

.footer__contact a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s, text-decoration 0.2s;
}

.footer__contact a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .footer__container {
    padding: 0 6vw;
  }
  .footer__info {
    gap: 10px;
  }
  .footer {
    padding: 28px 0 14px 0;
    font-size: var(--font-size-sm);
  }
}
