@use "./../styles/variable" as *;

.navbar {
  width: 100%;
  max-width: 100vw;
  position: fixed;
  top: 65px;
  left: 0;
  z-index: 999;
  background: var(--secondary-color);
  padding: 0.5rem 2rem;
  box-sizing: border-box;
  border-bottom: 1px solid var(--text-color);
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.navbar a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

