:root {
  --first-color: #07a4e9;
  --first-color-light: #9bd6ec;
  --black-color: #000000;
  --white-color: #ffffff;
  --background-color: #dedede;
  --background-color-light: #e9e7e7;
  --red-color: rgb(235, 58, 58);
  --red-color-light: rgb(235, 146, 146);
  --yellow-color:  rgb(186, 134, 0);
  --green-color: rgb(54, 144, 59);
  --blue-color:  rgb(54, 80, 144);
}
